

//GENERAL

.container{
	margin:5.33333%;
	position: relative;

}

img{
	width:100%;
	max-width: 100%;
}


//HEADER
header{
	position: relative;
	margin: 40px 0;
	&:before{
		content:'LM';
		display: block;
		z-index: -1;
		position: absolute;
		left: 50%;
    	transform: translate(-50%);
		line-height: 17rem;;
		font-size: 23rem;
		color: $light-grey;
		

	}

	h1{
			display:block;
			margin: 0 auto;
			width: 60px;
			margin-bottom: 20px;
	}

	.header--tagline{
		text-align: center;
	}

	
}


//EVENT
.event{
	position: relative;
	margin-bottom: 10rem;
}

.event--desc{
	text-align: center;
	position: absolute;
	left: 50%;
   	top: 50%;
    transform: translate(-50%, -50%);
	width:80%;
	color:$white;

}

.more--btn{
	display:block;
	margin: 30px auto;
    width: 160px;
    text-align: center;
    padding: 20px;
    border: 2px solid $dark-red;
    margin-bottom: 40px;
    transition: 0.2s ease;

    &:hover{
    	background-color: $dark-red;
    	color: $white;
    	border: 2px solid $dark-red;
    	transition: 0.2s ease;

    }
}
.title{
	text-align: center;
	display:block;
	margin: 0 auto;
	margin-top: 10rem;
}





@media #{$medium}{
	.container{
		max-width: 60%;
		margin: 0 auto;
	}
}

@media #{$large}{

	body{
		border:20px $cream solid;
		
	}
	.container{
		margin: 0 auto;
		max-width: 1000px;
		
		h1{
		margin: 0;
		margin-bottom: 20px;
		display: block;	
		}

		.header--tagline{
			text-align: left;
		}

		header:before{
			left:0;
			transform: translate(-5%);
		}
	}
}

